data/input/*
!data/input/
data/goldstandard/archive_and_analysis
data/output/reducedKaggleSet/*
data/output/combinedFiles/*
data/output/gs/*
data/output/namedgs/*
data/output/experiments/*
data/output/sortedCorrespondences/*
data/output/aggregatedKaggle/*
!data/output/experiments/experiment_log.csv
.vscode
.ipynb_checkpoints
target/*
report/*
!report/thesis-ref.bib
!report/thesis.tex
!report/thesis.pdf